<head>
  <link rel="stylesheet" href="assets/stylesheets/landing_page.css">
</head>

<div class="container">
        <div class="center">
            <button>Biblioteca</button>
            <button>Reseñas</button>
            <button>Log in</button>
        </div>

        <div class="main">
            <h1>Rincón Literario</h1>
            <h2>Tu estante de libros online favorito</h2>
        </div>

    <div class="bottom">
        <p>Rincón literario, creado con Ruby on Rails</p>
        <p>2024</p>
    </div>

</div>